.bash_history
.config/
coverage
dev/
dist
dist-ssr
.DS_Store
.idea
lerna-debug.log*
*.local
*.log
logs
*.njsproj
node_modules/
.node_repl_history
.npm/
npm-debug.log*
*.ntvs*
pnpm-debug.log*
*.sln
*.suo
*.sw?
.vscode/
yarn-debug.log*
yarn-error.log*
http-server/public/
