@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container > div {
  border: solid 1px black;
  border-bottom: 0;
}

.my-container > div:first-child {
  border-top: 0;
}

.game-console-log p {
  font-family: monospace;
  padding: 0.25rem;
}